.App {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
img{
  height: 5rem;
  width: auto;
}
.section_introduction{
  background-color: #0080C5;
  border-radius: 8px;
  margin-left: 15rem;
  margin-right: 15rem;
}
.section_introduction p {
  font-size : 1.4rem;
}