.App {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 5rem;
  width: auto;
}
/* unvisited link */
a:link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(116, 112, 112);
  text-decoration: none;
}

/* selected link */
a:active {
  color: #fff;
  text-decoration: none;
}

.section_introduction {
  background-color: #0080c5;
  border-radius: 8px;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0.4rem;
}
.section_introduction p {
  font-size: 1.4rem;
}

.Popup p {
  color: #000;
  font-size: 1rem;
}
.MapContainer {
  height: 800px;
  width: 66%;
  border-radius: 8px;
  margin: 2rem;
}
.body__mapsettings h2{
  color:#fff;
}
.body__mapsettings{
  background-color: #73B9DF;
  width: 34%;
  margin: 2rem;
  border-radius: 8px;
}
.section_upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.map__paragraph__red{
  color: red;
}
.mapRadiusSettings{
  margin: 0rem 3rem;
}
.mapsettings__row{
  color: #0080c5;
  border: none;
  height: 3px;
  background-color: #0080c5;
}
.body__map{
  display: flex;
  flex-direction: row;
  flex-flow: flex-start;
}
input {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
form {
  padding: 0;
  
}
